<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Viewlift API">
        <setting label="token" type="text" id="token" default="" visible="false"/>
        <setting label="device_type" type="text" id="device_type" default="web_browser" visible="false"/>
    </category>
</settings>
