<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="Viewlift API">
        <setting label="site" type="text" id="site" default="liv-golf" visible="false"/>
        <setting label="device_type" type="text" id="device_type" default="web_browser" visible="false"/>
    </category>
        <category label="Token">
        <setting label="token" type="text" id="token" default="" visible="false"/>
        <setting label="Issue date:" type="date" id="issue_date" default="" visible="true"/>
        <setting label="Issue time:" type="time" id="issue_time" default="" visible="true"/>
        <setting label="Expire epoch:" type="number" id="expire_epoch" default="0" visible="true"/>
        <setting label="Expire date:" type="date" id="expire_date" default="" visible="true"/>
        <setting label="Expire time:" type="time" id="expire_time" default="" visible="true"/>
        <setting label="IP Address:" type="ipaddress" id="ip" default="" visible="true"/>
        <setting label="Country code:" type="text" id="country_code" default="" visible="true"/>
        <setting label="Postal Code:" type="number" id="postal_code" default="" visible="true"/>
    </category>
</settings>
